<div class="row">
    <section class="small-8 columns">
        <h1>Who Am I?</h1>
        <p>
            I am a full time python and javascript developer
            for <a href="http://xepler.com">Xepler</a>, a UI/UX design
            company located in Fresno, CA.
        </p>
    </section>
    <section class="small-4 columns panel text-center">
        <a href="#" class="radius th">
            <img src="assets/img/nate_avatar.jpeg" alt="Nathan Cox" class="radius">
        </a>
    </section>
</div>
