<div class="row">
    <div class="small-3 columns">
        <ul class="side-nav">
            <li ui-sref-active="active">
                <a ui-sref="main.state_one">State One</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main.state_two">State Two</a>
            </li>
        </ul>
    </div>
    <div class="small-9 columns" ui-view="content"></div>
</div>
