FirstCtrl Service Variable: {{ first.service.staticVar }}
<input type="text" ng-model="first.service.staticVar" />
<ul>
    <li ng-repeat="instance in first.instances">
        var: {{ instance.get() }}
    </li>
</ul>
