SecondCtrl Service Variable: {{ second.service.staticVar }}
<input type="text" ng-model="second.service.staticVar" />
<ul>
    <li ng-repeat="instance in second.instances">
        var: {{ instance.get() }}
    </li>
</ul>
